/* .task-form input,
.task-form select, */
.task-form textarea {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .task-form input:focus,
.task-form select:focus,
.task-form textarea:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
} */

.task-form textarea {
    resize: vertical;
    min-height: 80px;
}

/* .task-form button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
} */

/* .task-form button:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 12px rgba(52, 152, 219, 0.4);
} */

.task-form label {
    font-weight: 500;
    color: #555;
}

/* Main container for task form */
.task-form-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    
  }
  
    .task-form {
   
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #2C3E50;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }  
  
  .task-form h2 {
    text-align: center;
    font-size: 24px;
    color: #f1f5f1;
    margin-bottom: 3px;
  }
  
    /* .task-input, .task-date, .task-priority {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      font-size: 16px;
    } */
  
  /* .task-input:focus, .task-description:focus, .task-date:focus, .task-priority:focus {
    border-color: #4caf50;
    outline: none;
  } */
  
  .task-description {
    resize: vertical;
    min-height: 100px;
  }
  

